/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.info-box {
  color: red;

}
  h3 {
  font-size: 1rem;
text-decoration: underline;

  }
  h4 h5 h6 {
    text-decoration: none;
  }